<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>{{ head.title }} | saas demo</title>
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon"/>
  <meta name="description" content="Build saas fast. Repeat."/>

  <link href="/assets/css/tabler.min.css" rel="stylesheet"/>
  <link href="/assets/css/tabler-flags.min.css" rel="stylesheet"/>
  <link href="/assets/css/tabler-payments.min.css" rel="stylesheet"/>
  <link href="/assets/css/tabler-vendors.min.css" rel="stylesheet"/>
  <link href="/assets/css/demo.min.css" rel="stylesheet"/>

  <style>
    @import url('https://rsms.me/inter/inter.css');
    :root {
    	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    }
    body {
    	font-feature-settings: "cv03", "cv04", "cv11";
    }
  </style>

  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  <script src="/assets/js/demo-theme.min.js" defer></script>
</head>
